.cover-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
}
.cover-wrapper a,
.cover-wrapper a:focus,
.cover-wrapper a:hover {
    color: @white;
}
.cover-wrapper abbr {
    // TODO: Move to variable
    border-bottom: 1px dashed #999;
}
.cover-wrapper .btn-default,
.cover-wrapper .btn-default:focus,
.cover-wrapper .btn-default:hover {
    color: @gray-dark;
    text-shadow: none;
    background-color: @white;
    border: 1px solid @white;
}
.cover-wrapper .cover-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
.cover-wrapper .cover-container {
    margin-right: auto;
    margin-left: auto;
}

.cover-wrapper .inner {
    padding: 30px;
}

.cover-wrapper .masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

.cover-wrapper .masthead-nav > li {
    display: inline-block;
}
.cover-wrapper .masthead-nav > li + li {
    margin-left: 20px;
}
.cover-wrapper .masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: @white;
    color: rgba(255,255,255,.75);
    border-bottom: 2px solid transparent;
}
.cover-wrapper .masthead-nav > li > a:hover,
.cover-wrapper .masthead-nav > li > a:focus {
    background-color: transparent;
    // TODO: Move to variable
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255,255,255,.25);
}
.cover-wrapper .masthead-nav > .active > a,
.cover-wrapper .masthead-nav > .active > a:hover,
.cover-wrapper .masthead-nav > .active > a:focus {
    color: @white;
    border-bottom-color: @white;
}

@media (min-width: @screen-sm-min) {
    .cover-wrapper .masthead-brand {
        float: left;
    }
    .cover-wrapper .masthead-nav {
        float: right;
    }
}

.cover-wrapper .cover {
    padding: 0 20px;
}
.cover-wrapper .cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}

.cover-wrapper .mastfoot {
    // TODO: Move to variable
    color: #999;
    color: rgba(255,255,255,.5);
}

@media (min-width: @screen-sm-min) {
    .cover-wrapper .masthead {
        position: fixed;
        top: 0;
    }
    .cover-wrapper .mastfoot {
        position: fixed;
        bottom: 0;
    }
    .cover-wrapper .cover-wrapper-inner {
        vertical-align: middle;
    }
    .cover-wrapper .masthead,
    .cover-wrapper .mastfoot,
    .cover-wrapper .cover-container {
        width: 100%;
    }
}

@media (min-width: @screen-md-min) {
    .cover-wrapper .masthead,
    .cover-wrapper .mastfoot,
    .cover-wrapper .cover-container {
        width: 700px;
    }
}
