@import "../components/bootstrap/less/variables.less";
@import "../components/fontawesome/less/variables.less";

// Colors
@brown:              #a0522d;
@social-facebook:    #3b5998;
@social-github:      #171515;
@social-google-plus: #dd4b39;
@social-stumbleupon: #eb4823;
@social-twitter:     #55acee;
@white:              #fff;

// Iconography
@fa-font-path: "../components/fontawesome/fonts/";

// Navbar
@navbar-height:                    60px;
@navbar-border-width:              2px;

@navbar-default-bg:                @white;
@navbar-default-border:            @brown;

@navbar-default-brand-bg:          @brown;
@navbar-default-brand-color:       @white;
@navbar-default-brand-size:        26px;
@navbar-default-brand-hover-bg:    @navbar-default-brand-bg;
@navbar-default-brand-hover-color: @navbar-default-brand-color;
